@font-face {
    font-family: 'font-qmgps';
    src: url('../Font/font-qmgps.eot');
    src: url('../Font/font-qmgps.eot?#iefix') format('embedded-opentype'),
         url('../Font/font-qmgps.woff2') format('woff2'),
         url('../Font/font-qmgps.woff') format('woff'),
         url('../Font/font-qmgps.ttf') format('truetype'),
         url('../Font/font-qmgps.svg#font-qmgps') format('svg');
    font-weight: normal;
    font-style: normal;
}