<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="pathFilesRendicion" value="http://www.qanalytics.cl/IMG_Rendicion/Administracion_Finning/CLIENTE/"/>
    <add key="viewstatefiles" value="C:\ViewState\"/>
    <add key="pathFiles" value="../uploads/"/>
		<add key="pathFiles_cordillera" value="C:\QMTMS\Archivos_Cordillera\"/>
		<add key="conductores_yms" value="../fotos/conductores/"/>
		<add key="extension" value="jpg,gif,png,pdf,jpeg"/>
		<add key="aspnet:MaxHttpCollectionKeys" value="9000"/>
		<add key="aspnet:MaxJsonDeserializerMembers" value="9000"/>
		<add key="ChartImageHandler" value="storage=memory;timeout=300;"/>
	</appSettings>
	<connectionStrings>
		<add name="CsString" connectionString="Data Source=10.151.61.159;Initial Catalog=Q_YMS;User ID=sa;Password=##MMPFQ5093;Connect Timeout=1200" providerName="System.Data.SqlClient"/>
		<add name="CsString2" connectionString="Data Source=10.151.61.153,1533;Initial Catalog=Q_YMS;User ID=USREXE_BD;Password=$$execute##;Connect Timeout=1200" providerName="System.Data.SqlClient"/>
		<add name="CsString1" connectionString="Data Source=10.151.61.159;Initial Catalog=Q_YMS;User ID=USREXE_BD;Password=$$execute##" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>

		<httpRuntime executionTimeout="36000" maxRequestLength="9000000" maxQueryStringLength="50000"/>
		<globalization uiCulture="es" culture="es-CL"/>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation batch="false" debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="System.Web.Compilation.ForceCopyBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows"/>
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="asp"/>
				<add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
				<add namespace="MagicAjax.UI.Controls" assembly="MagicAjax" tagPrefix="MagicAjax"/>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
			<add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
		</httpModules>
		<customErrors mode="Off"/>
	</system.web>
	<!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WebServiceSoap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://ww2.qanalytics.cl/sack_ws_tablet/webservice.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="Servicio.WebServiceSoap" name="WebServiceSoap"/>
		</client>
	</system.serviceModel>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
</configuration>
